/* CSS */
.overlooked-score-container{
	font-family:"Roboto";
	width:0px;
	height:0px;
	border-style:solid;
	border-width:0px 80px 80px 0px;
	border-color:transparent rgb(37, 123, 186) transparent transparent;
	position:absolute;
	top:0px;
	right:0px;
	z-index:0;
	font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    color: #1EAEDB;
}
.score-div{
	font-size:18px;
	font-family:Verdana;
	position:absolute;
	top:0px;
	right:-53px;
	color:rgb(255, 255, 255);
}
.fraction-line-span{
    width: 2px;
    height: 20px;
    transform: rotate(45deg);
    position: absolute;
    top: 0px;
    right: -67px;
    border-bottom: 40px solid rgb(255, 255, 255);
}
.total-score-div{
	color:rgb(255, 255, 255);
	font-family:Verdana;
	font-size:12px;
	position:absolute;
	top:30px;
	right:-77px;
}
